:root {
    --lightColor: #fae3d2;
    --darkColor: #303a75;
    --accentColor: #888686;
    --background: #fffbf8;
}

body {
    color: var(--darkColor);
    background-color: var(--lightColor);
    font-size: 1em;
    font-family: "noticia text", serif;
}

h1 {
    font-weight: bold;
}

footer {
    background-color: var(--background);
    border-top: 1px solid var(--darkColor);
    margin-bottom: 0;
}

.mb-2,
.my-2 {
    margin-bottom: 0 !important;
}

.header {
    font-size: 1.25em;
    color: var(--accentColor);
    text-align: left;
}

a {
    color: var(--darkColor);
}

a:hover {
    color: var(--darkColor);
    text-decoration: none;
}

.source-link {
    color: var(--accentColor)
}

.bg-light {
    background-color: var(--background) !important;
}

.content-wrapper {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3em;
    margin-bottom: 1em;
    background-color: var(--background);
    border: 1px solid var(--darkColor);
    min-height: 80vh;
}

.navbar {
    border-bottom: 1px solid var(--darkColor);
    align-items: flex-end;
}


/*nav bar link*/

.nav-link {
    color: var(--accentColor);
}


/*active navbar link*/

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--darkColor);
}


/*navbar hover*/

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--darkColor);
}